.thumbTitle {
  display: block;
  height: 10vh;
  width: auto;
  background-color: #dddd;
}
.titleText {
  display: block;
  font-size: 2em;
  color: darkcyan;
}
.thumbTitle :hover {
  display: block;
  font-weight: lighter;
  font-size: .4em;
  color: white;
  background-color: 0;
  box-shadow: 0, 2px, 5px, #dddd;
  transition-duration: .2s;
}
.BodyContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: darkcyan;
}
.DetailsContainer {
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  overflow: scroll;
  margin: 0px;
  background-color: grey;
}
.thumbnailsContainer {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  overflow: scroll;
  background-color: darkgrey;
  z-index: 1;
}
.thumbnail {
  width: 100px;
  height: auto;
  margin: 10px;
  border-radius: 15px;
}
.MovieDetails {
  background-color: darkcyan;
  border-radius: 15px;
}
.details {
  width: 100px;
  height: auto;
  margin: 10px;
  border-radius: 15px;
}
